<nav class="side-menu jspScrollable" tabindex="0" style="overflow: hidden; padding: 0px; width: 240px;">



  <div class="jspContainer" style="width: 239px; height: 100%;">
    <div class="jspPane" style="padding: 0px; top: 0px; width: 227px;">
      <ul class="side-menu-list">
        <li class="grey with-sub">
          <span>
            <i class="font-icon font-icon-dashboard"></i>
            <span class="lbl">{{'Sidebar.Dashboard' | translate }}</span>
          </span>

        </li>
        <li class="brown with-sub active" (click)="goToSkus()">
          <span>
            <i class="font-icon glyphicon glyphicon-tint"></i>
            <span class="lbl">Skus</span>
          </span>

        </li>
        <li class="purple with-sub">
          <span>
            <i class="font-icon font-icon-comments active"></i>
            <span class="lbl">Stock</span>
          </span>

        </li>
        <li class="red with-sub">
          <span>
            <i class="font-icon glyphicon glyphicon-send"></i>
            <span class="lbl">Users</span>
          </span>
        </li>
        <li class="gold with-sub">
          <span>
            <i class="font-icon font-icon-edit"></i>
            <span class="lbl">Customers</span>
          </span>

        </li>
        <li class="blue-dirty with-sub">
          <span>
            <span class="glyphicon glyphicon-th"></span>
            <span class="lbl">Tables</span>
          </span>
        </li>

      </ul>
      <section>
        <header class="side-menu-title">Tags</header>
        <ul class="side-menu-list">
          <li>
            <a href="#">
              <i class="tag-color green"></i>
              <span class="lbl">Website</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="tag-color grey-blue"></i>
              <span class="lbl">Bugs/Errors</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="tag-color red"></i>
              <span class="lbl">General Problem</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="tag-color pink"></i>
              <span class="lbl">Questions</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="tag-color orange"></i>
              <span class="lbl">Ideas</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="jspVerticalBar">
      <div class="jspCap jspCapTop"></div>
      <div class="jspTrack" style="height: 319px;">
        <div class="jspDrag" style="height: 91px;">
          <div class="jspDragTop"></div>
          <div class="jspDragBottom"></div>
        </div>
      </div>
      <div class="jspCap jspCapBottom"></div>
    </div>
  </div>
</nav>